#mp3quran { width:90%; margin:0 auto; text-align:center; border:1px solid #cccccc; padding:5px; margin-top:15px; margin-bottom:15px; }
#mp3quran .lang { padding:5px 0 5px 0; margin:5px 0 10px 0; }

#mp3quran-widget { margin:0; text-align:center; border:0px solid #cccccc; padding:5px; margin-top:5px; margin-bottom:5px; }
#mp3quran-widget .lang { padding:5px 0 5px 0; margin:5px 0 10px 0; }